@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding: 20px;
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    
}

.image-section {
    width: 290px;
    height: auto;
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

.info {
    background-color: hsl(0, 0%, 100%);
    width: 240px;
    padding: 25px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.price {
    align-items: center;
    display: flex;
}

header {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    margin-top: 5px;

}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 31px;
    line-height: 1;
    text-align: left;
    color: hsl(212, 21%, 14%);
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: left;
    color: hsl(228, 12%, 48%);
    line-height: 1.6;
    margin-bottom: 9px;

}

#newprice {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 30px;
    margin-right: 20px;
}

#oldprice {
    font-size: 14px;
    color: hsl(228, 12%, 48%)
}

button {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: hsl(158, 36%, 37%);
    padding: 15px;
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    width: 100%;
    border: none;
    cursor: pointer;
    margin-top: 25px;

}

button span {
    padding-left: 10px;
}

button:hover {
    background-color: hsl(158, 48%, 23%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:520px) {


    header{
        margin-top: 0;
        letter-spacing: 3px;
    }

    h1{
        font-size: 30px;
        margin:10px 0px 5px 0px;
    }

    p{
        font-size: 13px;
    }

    .price {
        margin-top: 25px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .image-section {

        width: 310px;
        height: 240px;
        background-image: url(./images/image-product-mobile.jpg);
        border-bottom-left-radius: 0;
        border-top-right-radius: 8px;
    }

    .info {
        height: 290px;
        width: 260px;
        padding: 15px 25px 25px 25px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;

    }
    button {
        
        padding: 12px;
        margin-top: 10px;
    }
}